*{
    
    font-family: 'Nunito', sans-serif;
    }
    .card-img{
        
        width: 600px;
    }
    
    .img {
        width: 60px;
    }
    .hero-img{
        width: 500px;
    }